# NYTConnections Notebook

**Author:** Eric Nunes

**Originally Created:** 11 October 2024

This notebook aims to scrape the information from the NYT Connections games and post regular updates to the corresponding dataset. You can find the Kaggle dataset [here](https://www.kaggle.com/datasets/eric27n/the-new-york-times-connections/data).

In [1]:
import numpy as np
import pandas as pd
import requests
import json
from datetime import datetime, timedelta

In [2]:
def reformat_date(date_str):
    try:
        original_date = datetime.strptime(date_str, "%m/%d/%Y")
        new_date_str = original_date.strftime("%Y-%m-%d")
        return new_date_str
    except ValueError:
        return date_str

In [ ]:
today_date = datetime.now().date()
yesterday_date = today_date - timedelta(1)
tomorrow_date = today_date + timedelta(1)
datetimes = [yesterday_date, today_date, tomorrow_date] # adjust datetimes as needed

df = pd.read_csv("/kaggle/input/the-new-york-times-connections/Connections_Data.csv")

game_ids = []
dates = []
words = []
group_names = []
word_levels = []
rows = []
columns = []

In [4]:
# Editor's Note 2024-10-26:
#     A Row where the word was "NA" was improperly read as NaN (not a number/null).
#     This row is to rectify this problem.
display(df[df['Word'].isnull()])
df.loc[978, 'Word'] = "NA"
display(df[df['Word'].isnull()])
display(df[df['Game ID'] == 62])
print(len(df))

,Game ID,Puzzle Date,Word,Group Name,Group Level,Starting Row,Starting Column
978,62,2023-08-12,NaN,PERIODIC TABLE SYMBOLS,3,1,3

Empty DataFrame
Columns: [Game ID, Puzzle Date, Word, Group Name, Group Level, Starting Row, Starting Column]
Index: []

,Game ID,Puzzle Date,Word,Group Name,Group Level,Starting Row,Starting Column
976,62,2023-08-12,MA,STATE ABBREVIATIONS,0,1,1
977,62,2023-08-12,LA,MUSICAL NOTES,1,1,2
978,62,2023-08-12,NA,PERIODIC TABLE SYMBOLS,3,1,3
979,62,2023-08-12,NU,GREEK LETTERS,2,1,4
980,62,2023-08-12,PI,GREEK LETTERS,2,2,1
981,62,2023-08-12,NI,PERIODIC TABLE SYMBOLS,3,2,2
982,62,2023-08-12,TI,MUSICAL NOTES,1,2,3
983,62,2023-08-12,HE,PERIODIC TABLE SYMBOLS,3,2,4
984,62,2023-08-12,FA,MUSICAL NOTES,1,3,1
985,62,2023-08-12,XI,GREEK LETTERS,2,3,2
986,62,2023-08-12,PA,STATE ABBREVIATIONS,0,3,3
987,62,2023-08-12,FE,PERIODIC TABLE SYMBOLS,3,3,4
988,62,2023-08-12,DO,MUSICAL NOTES,1,4,1
989,62,2023-08-12,CO,STATE ABBREVIATIONS,0,4,2
990,62,2023-08-12,MU,GREEK LETTERS,2,4,3
991,62,2023-08-12,ME,STATE ABBREVIATIONS,0,4,4

8304

In [5]:
df['Puzzle Date'] = df['Puzzle Date'].apply(reformat_date)
display(df)

,Game ID,Puzzle Date,Word,Group Name,Group Level,Starting Row,Starting Column
0,1,2023-06-12,SNOW,WET WEATHER,0,1,1
1,1,2023-06-12,LEVEL,PALINDROMES,3,1,2
2,1,2023-06-12,SHIFT,KEYBOARD KEYS,2,1,3
3,1,2023-06-12,KAYAK,PALINDROMES,3,1,4
4,1,2023-06-12,HEAT,NBA TEAMS,1,2,1
...,...,...,...,...,...,...,...
8299,547,2024-11-11,PAYDAY,CHOCOLATE BARS,0,3,4
8300,547,2024-11-11,CORE,GIST,1,4,1
8301,547,2024-11-11,DOVE,CHOCOLATE BARS,0,4,2
8302,547,2024-11-11,LADY,___ BIRD,3,4,3
8303,547,2024-11-11,WIRELESS,KINDS OF BRAS,2,4,4

In [6]:
# Print entries for a given date
date = "2024-10-31" # change date as you please
filtered_df = df[df['Puzzle Date'] == date]
result = [row for row in filtered_df['Word'].values]
print(",".join(result))
display(filtered_df)

BAT,EGG,LOVE,WITCH,PUMPKIN,SPIDER,BLINK,JOB,DIABLO,FLUTTER,TREASURE,VIPER,SCAVENGER,MUSTANG,WINK,DARLING

,Game ID,Puzzle Date,Word,Group Name,Group Level,Starting Row,Starting Column
8112,523,2024-10-31,BAT,THINGS YOU CAN DO WITH YOUR EYELIDS,1,1,1
8113,523,2024-10-31,EGG,___ HUNT,3,1,2
8114,523,2024-10-31,LOVE,TERMS OF ENDEARMENT,0,1,3
8115,523,2024-10-31,WITCH,___ HUNT,3,1,4
8116,523,2024-10-31,PUMPKIN,TERMS OF ENDEARMENT,0,2,1
8117,523,2024-10-31,SPIDER,SPORTS CARS,2,2,2
8118,523,2024-10-31,BLINK,THINGS YOU CAN DO WITH YOUR EYELIDS,1,2,3
8119,523,2024-10-31,JOB,___ HUNT,3,2,4
8120,523,2024-10-31,DIABLO,SPORTS CARS,2,3,1
8121,523,2024-10-31,FLUTTER,THINGS YOU CAN DO WITH YOUR EYELIDS,1,3,2
8122,523,2024-10-31,TREASURE,TERMS OF ENDEARMENT,0,3,3
8123,523,2024-10-31,VIPER,SPORTS CARS,2,3,4
8124,523,2024-10-31,SCAVENGER,___ HUNT,3,4,1
8125,523,2024-10-31,MUSTANG,SPORTS CARS,2,4,2
8126,523,2024-10-31,WINK,THINGS YOU CAN DO WITH YOUR EYELIDS,1,4,3
8127,523,2024-10-31,DARLING,TERMS OF ENDEARMENT,0,4,4

In [ ]:
# Run data extraction for today and tomorrow dates.
for date in datetimes:
    url = f"https://www.nytimes.com/svc/connections/v1/{date}.json"
    response = requests.get(url)
    results = json.loads(response.text)
    
    game_ids.extend([results['id']] * 16)
    dates.extend([date.strftime("%Y-%m-%d")] * 16)
    
    starting_board = results['startingGroups']
    for x in range(1, 5):
        for y in range(1, 5):
            word = starting_board[x-1][y-1]
            words.append(word)
            rows.append(x)
            columns.append(y)
            for key in results['groups'].keys():
                if word in results['groups'][key]['members']:
                    group_names.append(key)
                    word_levels.append(results['groups'][key]['level'])
    
    today_df = pd.DataFrame({
        'Game ID': game_ids,
        'Puzzle Date': dates,
        'Word': words,
        'Group Name': group_names,
        'Group Level': word_levels,
        'Starting Row': rows,
        'Starting Column': columns
    })
    
    df = pd.concat([df, today_df], ignore_index=True)
display(df.tail(20))

,Game ID,Puzzle Date,Word,Group Name,Group Level,Starting Row,Starting Column
8380,547,2024-11-11,CORE,GIST,1,4,1
8381,547,2024-11-11,DOVE,CANDY BARS,0,4,2
8382,547,2024-11-11,LADY,___ BIRD,3,4,3
8383,547,2024-11-11,WIRELESS,KINDS OF BRAS,2,4,4
8384,550,2024-11-12,RAM,LAPTOP SPECS,2,1,1
8385,550,2024-11-12,ROBE,FEATURES OF JUSTICE PERSONIFIED,3,1,2
8386,550,2024-11-12,CLOVE,VEGETABLE UNITS,1,1,3
8387,550,2024-11-12,CRAB,COMPLAIN,0,1,4
8388,550,2024-11-12,SWORD,FEATURES OF JUSTICE PERSONIFIED,3,2,1
8389,550,2024-11-12,SPEED,LAPTOP SPECS,2,2,2
8390,550,2024-11-12,SCALES,FEATURES OF JUSTICE PERSONIFIED,3,2,3
8391,550,2024-11-12,SPEAR,VEGETABLE UNITS,1,2,4
8392,550,2024-11-12,BELLYACHE,COMPLAIN,0,3,1
8393,550,2024-11-12,BLINDFOLD,FEATURES OF JUSTICE PERSONIFIED,3,3,2
8394,550,2024-11-12,STORAGE,LAPTOP SPECS,2,3,3
8395,550,2024-11-12,CARP,COMPLAIN,0,3,4
8396,550,2024-11-12,STALK,VEGETABLE UNITS,1,4,1
8397,550,2024-11-12,GRUMBLE,COMPLAIN,0,4,2
8398,550,2024-11-12,RESOLUTION,LAPTOP SPECS,2,4,3
8399,550,2024-11-12,FLORET,VEGETABLE UNITS,1,4,4

In [8]:
# Additional verification: remove any possible duplicates, sort dataset.
print(len(df))
df = df.drop_duplicates()
df = df.sort_values(by=['Puzzle Date', 'Starting Row', 'Starting Column'])
print(len(df))

8400
8324

In [9]:
# Save, update Kaggle dataset
df.to_csv('/kaggle/working/Connections_Data.csv', index=False)